.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  height: 100vh;
}

.game > * {
  width: min(95vw, calc(100vh - 120px));
  max-width: 600px;
}

.game button {
  font-size: 1.4em;
}

.game p {
  color: white;
  text-align: center;
  font-size: 1.4em;
  margin: 15px 0;
}
