.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  height: 100vh;
}

.game > * {
  width: calc(100vmin - 120px);
  max-width: 600px;
}

.game p {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 15px 0;
}
